body{
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
background: linear-gradient(72deg, rgba(1, 1, 1, 0.745) 0%, rgba(18, 17, 17, 0) 100%);
}

header {
background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 0%, rgba(18, 17, 17, 0) 100%);
height: 70px;
width: 3000px;
position: fixed;
top: 0px;
z-index: 1;
display: flex;
justify-content: space-between;
align-items: center; 
}


.menu {
text-align: center;
display: flex;
list-style-type: none;
margin: 0;
padding: 7%;
padding-left: 50%;
}

.menu a:hover {
background-color: #f0f0f0;
}

.menu-container {
display: flex;
align-items: center;
}

.menu-container a.active-menu {
background-color: #dfd6d65a;
border-radius: 100px;
padding: 10px 16px; 
line-height: 100%; 
}


.menu-container a {
color: rgb(242, 236, 236);
text-decoration: none;
width: 150px; 
padding: 10px 5px;
text-align: center;
margin-right: 100px; 
transition: 0.8s;
}

.menu-container a:hover {
background-color: #dfd6d65a;
border-radius: 100px;
width: 150px; 
}



.content {
box-shadow: 0 10px 25px rgb(0, 0, 0);
width: 1190px;
height: 590px;
border-radius: 20px;
overflow: hidden;
position: absolute;
top: 55%;
left: 50%; 
transform: translate(-50%, -50%); 
}


.navigation {
position: absolute;
bottom: 20px;
left: 50%;
transform: translate(-50%);
display: flex;
}

.bar{
background:  #e3dede41;
width: 60px;
height: 17px;
border: 0.5px solid #FFF;
margin: 6px;
border-radius: 5px;
cursor: pointer;
transition: 0.6s;
}

.bar:hover {
  background-color: #FFF;
}

input{
  display: none;
}

.slides {
  display: flex;
  width: 1200%;
  height: 100%;
}

.slide {
  width: 12%;
  transition: .6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0%;
}

#slide2:checked ~ .s1 {
  margin-left: -10%;
}

#slide3:checked ~ .s1 {
  margin-left: -20%;
}

#slide4:checked ~ .s1 {
  margin-left: -35%;
}

#slide5:checked ~ .s1 {
  margin-left: -50%;
}

#slide6:checked ~ .s1 {
  margin-left: -60%;
}

#slide7:checked ~ .s1 {
  margin-left: -75%;
}

#slide8:checked ~ .s1 {
  margin-left: -85%;
}

#slide9:checked ~ .s1 {
  margin-left: -97%;
}

#slide10:checked ~ .s1 {
  margin-left: -110%;
}

#slide11:checked ~ .s1 {
  margin-left: -120%;
}

#slide12:checked ~ .s1 {
  margin-left: -135%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0));
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.50s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info h2 {
  color: #fff;
  font-size: 60px;
  margin-top: 10px;
}

.info p {
  color: #fff;
  font-size: 30px;
  margin-top: 0px;
}

.slide:hover .info {
  opacity: 3;
  visibility: visible;
}

